@{
    ViewData["Title"] = "BuiltComputers";
}
@model ICollection<ReadyPcModel>

<h1 class="text-center py-5 px-0">Built Computers</h1>

<section>
    <div class="container">
        <div class="row justify-content-center">
            @foreach (var pc in Model)
            {
                <div class="col-4 mb-5">
                    <div class="card text-center h-100">
                        <div class="test card text-center h-100">
                            @foreach (var component in pc.Components.OrderByDescending(c => c.Price))
                            {
                                <div>
                                    <a class="component-text" href="#" data-image="@component.Picture">@component.Name - $ @component.Price</a>
                                </div>
                            }
                        </div>
                        <div class="card-body p-5">
                            <div class="text-center">
                                <span><b>Built on:</b> @pc.DateCreated</span>
                            </div>
                            <div class="text-center">
                                <span><b>Price:</b> @pc.Price</span>
                            </div>
                        </div>
                    </div>
                </div>
            }
            <div>
            </div>
        </div>
    </div>
</section>
@section Scripts {
    <script type="text/javascript">

        $(".component-text").mouseenter(function () {
            if ($(this).parent('div').children('div.image').length) {
                $(this).parent('div').children('div.image').show();
            } else {
                var image_name = $(this).data('image');
                var imageTag = '<div class="image" style="position:absolute;">' + '<img src="' + image_name + '" alt="image" height="200" width="300" />' + '</div>';
                $(this).parent('div').append(imageTag);
            }
        });

        $(".component-text").mouseleave(function () {
            $(this).parent('div').children('div.image').hide();
        });
    </script>
}